.idioma-add {
  .content {
    width: 535px;
    height: 251px;

    .form-content {
      .form {
        width: 463px;
        height: 40px;

        input {
          height: 40px;
          margin: 0;
        }
      }
    }
  }
}